.Home .name {
  font-family: var(--h1-font-family);
  font-size: 85px;
  font-weight: bold;
  color: var(--secondary-color);
  text-align: center;
  margin: 0;
}

.Home .title {
  text-align: right;
  font-style: italic;
  margin-bottom: 15px;
}

.Home .pic {
  display: block;
  margin: 0 auto;
  width: 300px;
}

.Home .pic img {
  margin: 20px 0 40px 0;
  box-shadow: 6px 20px 0px var(--secondary-color);
  border-top-left-radius: 190px;
  border-bottom-right-radius: 190px;
}

@media (max-width: 800px) {
  .Home .name {
    font-size: 50px;
    padding-bottom: 10px;
  }

  .Home p {
    font-size: 16px;
    text-align: justify;
  }

  .Home h1,
  .Home h2 {
    text-align: center;
    margin: 0;
  }

  .Home .pic {
    display: block;
    max-width: 100%;
    padding: 15px;
  }

  .Home img .profile-pic {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
}
